:root {
    --c-blue: blue;
    --c-lightblue: lightblue;
    --c-dblue: darkblue;
    --c-black: black;
    --c-dred: rgb(233, 62, 62);
    --c-white: white;
    --c-lightgrey: lightgrey;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--c-white);
    font-family: 'Poppins', sans-serif;
    color: var(--c-dred);
  }
  
  .jumbotron {
    min-height: 6em;
    padding: 2rem;
    background-color: var(--c-dred);
    color: var(--c-white);
  }
  
  main {
    padding: 2rem 5rem;
  }
  
  h3, h4, h5 {
    font-family: 'Roboto', serif;
  }
  
  .manager {
    color: var(--c-dblue);
    border-radius: 10px;
    background-color: var(--c-white);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .4s transform cubic-bezier(.155,1.105,.295,1.12),.4s box-shadow,.4s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    opacity: 0.9;
  }
  
  .engineer {
    color: var(--c-dblue);
    border-radius: 10px;
    background-color: var(--c-white);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .4s transform cubic-bezier(.155,1.105,.295,1.12),.4s box-shadow,.4s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    opacity: 0.9;
  }
  
  .intern {
    color: var(--c-dblue);
    border-radius: 10px;
    background-color: var(--c-white);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .4s transform cubic-bezier(.155,1.105,.295,1.12),.4s box-shadow,.4s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    opacity: 0.9;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    opacity: 1;
  }
  
  /*MediaQuery for Mobile*/
  @media screen and (max-width: 480px) {
    body {
      background-color: var(--c-white);
      color: var(--c-llneutral);
    }
  
    main {
      padding-top: 6rem;
    }
  
    .cmb-headshot {
      box-shadow: 8px 10px 10px var(--c-lightgrey);
      border: .05em solid var(--c-black);
    }
  
    h4 {
      color: var(--c-dblue);
    }
  
    .cmb-fa {
      text-decoration: none;
      color: var(--c-llneutral);
      font-size: 1.5em;
    }
    
    .cmb-fa:hover {
      color: var(--c-dblue);
      text-shadow: 8px 10px 10px var(--c-grey);
    }
  
    .text-muted {
      color: var(--c-llneutral) !important;
    }
  
    .cmb-navbar {
      background-image: linear-gradient(var(--c-lneutral), var(--c-neutral));
      box-shadow: none;
    }
  
    .card-title,
    .card-text {
      color: var(--c-dblue);
    }
  
    .card {
      border-radius: 4px;
      background: var(--c-neutral);
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition:  none;
      opacity: 1;
    }
    
    .card:hover {
      transform: scale(1.03);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
      opacity: 1;
    }
  
    footer .cmb-fa {
      text-decoration: none;
      color: var(--c-white);
      font-size: 1.5em;
    }
    
    footer .cmb-fa:hover {
      color: var(--c-dblue);
      text-shadow: 8px 10px 10px var(--c-lightgrey);
    }
  }
  
  /* @media screen and (max-width: 1173px) {
    body {
      margin: 0 2%;
    }
  }
  
  @media screen and (max-width: 1022px) {
    body {
      margin: 0 0%;
    }
  }
  
  @media screen and (max-width: 1012px) {
    body {
      margin: 0 2%;
    }
  
    .about,
    .projects {
      flex-direction: column;
      padding: 2% 2% 2% 2%;
    }
  
    .h2, {
      display: inline-block;
      text-align: center;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: left;
      padding: 2% 0 2% 0;
      width: 100%;
    }
  } */